<!DOCTYPE html>
<html ng-app="mitenyMain" ng-controller="Main as m">
  <head>
	<meta charset="utf-8"/>
	<script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
	<script src="js/lockr.js"></script>
	<script src="data.js" charset="utf-8"></script>
	<script src="data2.js" charset="utf-8"></script>
	<script src="translations.js" charset="utf-8"></script>
	<script src="util.js" charset="utf-8"></script>
	<script src="miteny.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<title>Miteny Malagasy</title>
  </head>
  <body ng-cloak>
  <div id="menu"  ng-show="m.isactive=='menu'">
  <img src="img/lemur.png" width = "10%"/>
    <h1>Miteny Malagasy!</h1>
    <div ng-controller='ModalController'>
		<button ng-click='toggleModal()'>{{text("settings")}}</button>
		<modal-dialog show='modalShown' width='60%' height='60%'>
			<p>{{text("settings")}}</p>
			{{text("menulang")}}<select ng-model="p.language" ng-options="l.name for l in languages track by l.code"></select>
			<br />
			{{text("langToLearn")}}<select ng-model="p.languageToLearn" ng-options="l.name for l in languages track by l.code"></select>
			<br />
			<button ng-click = "save();toggleModal()">Ok</button>
		</modal-dialog>
	</div>

	<div ng-repeat="level in m.levels() track by $index">
		{{ level['name'][l1()] }} 
		<button ng-click="m.startList($index)" ng-show="m.doShow($index)" ng-disabled="m.isDisabled($index)">&#x1f4f0;</button>
		<button ng-click="m.start1of4($index)" ng-class="m.getButtonStyle($index, '1of4')" ng-show="m.doShow($index, 'normal')" ng-disabled="m.isDisabled($index)">&#x2611;</button>
		<button ng-click="m.startGame($index)" ng-class="m.getButtonStyle($index, 'game')" ng-show="m.doShow($index, 'normal')" ng-disabled="m.isDisabled($index)">&#x270d;</button>
		<button ng-click="m.startMemory($index)" ng-class="m.getButtonStyle($index, 'memory')" ng-show="m.doShow($index, 'normal')" ng-disabled="m.isDisabled($index)">&#xe322;</button>
		<button ng-click="m.startPicture($index)" ng-class="m.getButtonStyle($index, 'picture')" ng-show="m.doShow($index, 'picture')" ng-disabled="m.isDisabled($index)">&#xe322;</button>
		
	</div>
		<button ng-click="m.startShowMarks()">*</button>
  </div>
     <div ng-show="m.isactive=='list'" id="list" ng-cloak>
	  <button ng-click="m.mainMenu()">{{text("back")}}</button> 
	   <h1>{{ game.show().name[l1()]}}</h1>
	   <h2>{{ game.show().name[l2()] }}</h2>
	   <table>
	   <tr><th>{{language.name}}</th><th>{{languageToLearn.name}}</th></tr>
	   <tr ng-repeat="n in game.show()[l2()] track by $index">
		<td>{{game.show()[l1()][$index]}}</td><td>{{game.show()[l2()][$index]}}</td>
	   </tr>
	   </table>
    </div>
   <div ng-show="m.isactive=='game'" id="game" ng-cloak>
	  <button ng-click="m.mainMenu()">{{text("back")}}</button> <button ng-click="m.mark()">*</button>
	  <form ng-submit="m.check()">
		  <div id = "question">{{text("translate_imperativ")}} <b>{{ game.getQuestion() }}</b></div>
		  <input type="text" ng-model="game.answer"><button type = "button" ng-click="game.deleteLetter()">&#x232B;</button>
		  <br />
		  <button type="button" ng-repeat="letter in game.buttonModel" ng-disabled = "!letter.isActive" ng-click = "game.addLetter(letter)">{{letter.text}}</button>
		  <br />
		  <button type ="submit" >Ok</button>
	  </form>
    </div>
	
	<div ng-show="m.isactive=='1of4'" id="1of4" ng-cloak>
	  <button ng-click="m.mainMenu()">{{text("back")}}</button> <button ng-click="m.mark()">*</button>
	  <div id = "question">{{text("translate_imperativ")}} <b>{{ game.getQuestion() }}</div>
	  <button  ng-click="m.selectAnswer(0)">{{ game.getPossibleAnswer(0) }}</button>
	  <button  ng-click="m.selectAnswer(1)">{{ game.getPossibleAnswer(1) }}</button>
	  <button  ng-click="m.selectAnswer(2)">{{ game.getPossibleAnswer(2) }}</button>
	  <button  ng-click="m.selectAnswer(3)">{{ game.getPossibleAnswer(3) }}</button>
	</div>
	
	<div ng-show="m.isactive=='memory'" id="memory" ng-cloak>
	  <button ng-click="m.mainMenu()">{{text("back")}}</button>
	  <br />
	   <button ng-repeat="card in game.cards track by $index" ng-class="'card_'+card.clazz" ng-disabled="card.clazz!='hidden'" ng-click="game.turn($index, m)">
		<span>&nbsp;</span><span class = "cardtext"><span ng-class="card.lang">{{card['value']}}</span></span>
	   </button>
	</div>
	<div ng-show="m.isactive=='picturegame'" id="picturegame" ng-cloack>
		<button ng-click="m.mainMenu()">{{text("back")}}</button>
		<br />
		<div>{{text2("where_is")}} {{game.getQuestion()}}?</div>
		<div style= "background-image:url('{{game.words.path}}'); border:0; padding:0; margin:0; top:120;left:0;position:absolute; width:{{game.words.size[0]}}px; height:{{game.words.size[1]}}px;"
			ng-click="m.guess($event)">
		</div>
	</div>
	<div ng-show="m.isactive=='marks'" id="marks" ng-cloak>
	  	<button ng-click="m.mainMenu()">{{text("back")}}</button>
		{{m.showMarks()}}
	</div>

  </body>
</html>
